{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam temporibus nesciunt, sint est porro qui iure, dolorem minus cupiditate corporis similique molestias animi corrupti quisquam nostrum dignissimos totam molestiae necessitatibus earum hic? Eos inventore et quasi voluptatum voluptate magni rem?</p>
<p>Ut labore repellendus doloribus corrupti commodi, at quo. Id, tempora est illum harum ipsa in cumque enim fugit accusantium optio? Optio quibusdam officiis repellendus inventore aliquam, ipsum autem architecto sint soluta maxime commodi sapiente velit ea molestias, aperiam distinctio nulla!</p>

{% endblock %}