{% extends 'base.html.twig' %}


{% block body %}
<article>
    <h2>title de l'article</h2>
    <div class="metadata">Ecrit le 29/01/2019 dans la catégorie jeu</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit neque iusto fugit pariatur quod numquam.</p>
            <p>Nesciunt facilis, libero ipsam quisquam laudantium, sit laboriosam nisi iure nostrum beatae molestias vitae dolore.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe accusamus totam itaque fuga cupiditate, explicabo nostrum doloribus. Quibusdam expedita ex architecto atque necessitatibus recusandae dolor, eaque, ut, natus numquam totam dolorem nesciunt! Ducimus temporibus obcaecati doloribus optio illum officiis id? Pariatur, sit aperiam. Aspernatur, ipsam molestias! Enim, magnam quaerat.</p>
            <p>Dolorum distinctio iste eveniet dolor officia ipsam nisi, ullam dolores id fugiat illum quasi blanditiis atque corrupti ipsa omnis labore odio aspernatur voluptas illo architecto assumenda. Corporis, ipsam nesciunt aliquam vitae adipisci accusamus possimus fugit doloribus optio. Nam libero nostrum laudantium, minus nesciunt cumque, dolor veritatis reiciendis nihil inventore saepe.</p>
        </div>
    </article>
{% endblock %}